/* pop up screen */
#popup-1 {
  background-color: black;
}
.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 18px;
}

.popup .content img {
  width: 100%;
}
.btn-close-details {
  position: absolute;
  right: 37px;
  top: 35px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
}
.popup.active .overlay {
  display: block;
}
.popup.active .content {
  transition: 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.pop-item h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 8px 0;
}

.pop-item ul {
  display: flex;
}

.pop-item li {
  font-weight: 600;
  color: #3a4a42;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 10px;
}

.pop-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0px;
}

.popup.active .overlay {
  display: block;
}

.btn-card-details-mobile {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  align-self: center;
  background: #36b37f;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 4px;
}

.card-button-mobile {
  display: flex;
  justify-content: center;
  gap: 10px;
}

a.btn-card-details-mobile {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 15px;
  align-items: center;
  align-content: center;
  font-size: 17px;
}

.fa-github:before {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 5px;
}
.fa-external-link-alt:before {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 10px;
}

/* Media Query */

@media (min-width: 992px) {
  .popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    height: 100%;
    width: 920px;
    z-index: 2;
    padding: 18px;
  }
  .pop-container {
    display: Grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row: 2 / 5;
    grid-column: 2 / 4;
  }
  .pop-up .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    width: 100vh;
    height: 100vh;
  }

  .popup .content img {
    width: 100%;
  }
  .btn-close-details {
    position: absolute;
    right: 37px;
    top: 35px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
  }
  .popup.active .overlay {
    display: block;
  }
  .popup.active .content {
    transition: 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }

  .pop-item h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 8px 0;
  }

  .pop-item ul {
    display: flex;
  }

  .pop-item li {
    font-weight: 600;
    color: #3a4a42;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 15px;
    background: #ebf0ee;
    border-radius: 4px;
    margin-right: 10px;
  }

  .pop-item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 12px 0px;
  }

  .btn-card-details-mobile {
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    align-self: center;
    background: #36b37f;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 4px;
  }

  .card-button-mobile {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  a.btn-card-details-mobile {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
    align-items: center;
    align-content: center;
    font-size: 17px;
  }

  .fa-github:before {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 5px;
  }
  .fa-external-link-alt:before {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 10px;
  }
}
