@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.header {
  padding: 15px 24px;
  display: flex;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
}

header .nav a {
  font-size: 25px;
  font-weight: 600;
  color: #28352f;
}

.nav .fas {
  font-size: 25px;
  color: #28352f;
}

section header .nav {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero-heading {
  background: url("../images/mobile-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 900px 620px;
  height: 35rem;
  padding-top: 20px;
}

.hero-heading h1 {
  margin-top: 35px;
  padding: 0 25px 0 25px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  color: #172b4d;
  font-style: normal;
}

.hero-heading #title {
  color: #36b37e;
  padding-top: 5px;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  font-style: normal;
}

.hero-heading .description {
  text-align: center;
  color: #172b4d;
  margin: 35px 0;
  font-size: 20px;
  padding: 0 24px;
}

/* Animations and transitions */

.hero-heading h1,
p {
  position: relative;
  animation-name: content;
  animation-duration: 2s;
}

@keyframes content {
  0% {
    left: -500px;
  }

  100% {
    left: 0;
  }
}

.social-icons li {
  transition: all 0.5s;
}

.social-icons li:hover {
  transform: scale(1.4);
}

.button-content img {
  margin-right: 40px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.img-content img {
  width: 50px;
}

.lib-card img {
  margin-top: 20px;
}

.social-icons a img {
  padding: 10px;
}

.drop-down {
  text-align: center;
}

.drop-down a .fas {
  border: 1px solid #dfe1e6;
  font-size: 20px;
  color: black;
  padding: 10px;
  border-radius: 100%;
}

.project-section .heading {
  padding: 0 22px;
  font-size: 40px;
  color: #172b4d;
  text-align: center;
  line-height: 52px;
  font-weight: 700;
  margin-top: 20px;
}

.project-section hr {
  margin: 0 auto;
  background-color: #36b37e;
  height: 4px;
  width: 48px;
  border-radius: 24px;
}

.project-section .container {
  margin-top: 70px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: center;
  margin: 17px;
}

.container .card {
  background: url(../images/plaholder.png) center / cover no-repeat;
  min-height: 474px;
  position: relative;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.grid .project-title {
  text-align: center;
  padding: 16px;
  font-weight: 600;
  color: #3a4a42;
  font-size: 24px;
}

.grid .language {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.about-me p {
  font-size: 20px;
  color: #42526e;
  font-weight: 400;
  padding: 0 12px 30px 12px;
}

.language ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.language li {
  padding: 10px;
  background-color: #ebf0ee;
  margin: 5px;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.03em;
  font-weight: 600;
  color: #3a4a42;
}

.card .data {
  background: white;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card .data .content {
  padding: 5px 0 24px 0;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  background: #36b37f;
  border-radius: 4px;
  color: white;
  border: none;
}

.about-me {
  text-align: center;
}

.img-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

.img-content h1 {
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  flex: 2;
  padding-left: 50px;
}

.button-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.button-content button {
  text-align: center;
}

.lib-container {
  text-align: center;
}

.lib-container .lib-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: center;
  margin: 17px;
}

.lib-container .lib-card {
  background: url("../images/Img_plaholder.png") center / cover no-repeat;
  min-height: 352px;
}

.lib-card h1 {
  font-size: 24px;
  font-weight: 600;
  color: #344563;
  margin-top: 10px;
}

.lib-card ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  box-sizing: border-box;
}

.lib-card li {
  padding: 10px;
  background-color: white;
  margin: 5px;
  border-radius: 8px;
  color: #36b37e;
  font-size: 12px;
  letter-spacing: 0.03em;
  font-weight: 600;
}

/* Contact form section */

.form-section {
  margin: 0 auto;
  background: url("../images/footer-image.svg") 100% 95% no-repeat;
}

.form-section h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 60px 30px 58px 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

form input,
textarea {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding-left: 15px;
  font-size: 15px;
  color: #6b778c;
}

textarea {
  font-size: 15px;
  height: 10rem;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid #60c095;
  font-weight: 400;
}

.footer-section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding-top: 10px;
}

form .btn {
  margin: 5px 80px 5px 80px;
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
}

input[type="text"],
input[type="email"] {
  height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
}

